
    h1{
        color: white;
        background-color: red;
         }
         h2{
            color: white;
            background-color:black ;
         }
p {
    color: blue;
    background-color: red;
    }  
html{
    background-color:pink;
}
p{
    border-style: dashed;
}
pre{
    border-style: double;
}
pre{
    color:blue;
    background-color: white;
}